<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.webServer>
    <staticContent>
      <remove fileExtension=".ts" />
      <remove fileExtension=".red" />
      <remove fileExtension=".ld" />
      <mimeMap fileExtension=".ts" mimeType="text/x-typescript" />
      <mimeMap fileExtension=".red" mimeType="text/plain" />
      <mimeMap fileExtension=".ld" mimeType="text/plain" />
    </staticContent>
    <!-- Some other content -->
  </system.webServer>
</configuration>