#coreInput {

  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;

  border: 2px solid #56CCF2;
  border-bottom: none;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
}

.coreItem {
  border-left: 2px solid #56CCF2;

  grid-row-start: 1;
  grid-row-end: 2;

  font-family: 'roboto condensed';
  color: #fff;

  font-size: 0.8em;

  display: grid;
  grid-template-columns: 15px 1fr 15px;
  grid-template-rows: 5px 1fr 5px 1fr 5px;
}

.itemName {
  grid-row-start: 2;
  grid-row-end: 3;

  padding-left: 1em;
}

.coreItem:first-child {
  border-left: none;
}

.coreItem .fa {
  color: #EB5757;
  cursor: pointer;

  grid-row-start: 2;
  grid-row-end: 5;
}

.taskCount {
  grid-row-start: 4;
  grid-row-end: 5;
  text-align: right;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 4em;
}

.taskCount span {
  display: inline-block;
  grid-column-start: 2;
}

.inputItem {
  display: inline-block;
  margin-left: 1em;
  width: 0%;
  height: 100%;
  position: absolute;
  right: 0;
  grid-column-end: 2;
}

[class^="coreItem_"] {
  grid-row-start: 1;
  grid-row-end: 6;
}

.coreItem_0 {
  background-color: #EB5757;
}

.coreItem_1 {
  background-color: #6FCF97;
}

.coreItem_2 {
  background-color: #56CCF2;
}

.coreItem_3 {
  background-color: #F2C94C;
}

.coreItem_4 {
  background-color: #BB6BD9;
}

.coreItem_5 {
  background-color: #BDBDBD;
}