#simulatorControlContainer {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#core {

  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;

  border: 2px solid #56CCF2;
  border-bottom-right-radius: 10px;
  padding: 5px;

  position: relative;

  min-height: 550px;
}

#canvasContainer {
  position: relative;
  min-height: 550px;
  min-width: 500px;
}

#canvasContainer canvas {
  position: absolute;
  top: 0;
  left: 0;
}