#coreInput {

  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;

  border: 2px solid #56CCF2;
  border-bottom: none;

  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr;
}

.coreItem {
  border-left: 2px solid #56CCF2;

  grid-row-start: 1;
  grid-row-end: 2;

  font-family: 'roboto condensed';
  color: #fff;

  font-size: 0.8em;
  padding: 5px;
}

.coreItem:first-child {
  border-left: none;
}

.coreItem .fa {
  float: right;
  margin-top: 2px;
  color: #EB5757;
  cursor: pointer;
}

.inputItem {
  clear: both;
  margin-top: 5px;
  width: 100%;
  height: 15px;
  display: inline-block;
}

.coreItem_0 {
  background-color: #EB5757;
}

.coreItem_1 {
  background-color: #6FCF97;
}

.coreItem_2 {
  background-color: #56CCF2;
}

.coreItem_3 {
  background-color: #F2C94C;
}

.coreItem_4 {
  background-color: #BB6BD9;
}

.coreItem_5 {
  background-color: #BDBDBD;
}