#simulatorControlContainer {

  grid-column-start: 2;

  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr;
}

#runProgressContainer {

  border: 2px solid #56CCF2;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 10px;
}

.progressBar {
  height: 100%;
  display: inline-block;
  background-color: #56CCF2;
  border-top-left-radius: 5px;
  color: #fff;
  font-family: 'roboto condensed';
  text-align: center;
}

.progressBar span {
  display: inline-block;
  padding-top: 0.8em;
}

#simulatorControls {

  grid-column-start: 2;
  grid-column-end: 3;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;


  border: 2px solid #56CCF2;
  border-bottom: none;
  border-top-right-radius: 10px;
  color: #fff;
}

.simulatorControl {
  font-size: 0.8em;
  text-align: center;
  padding-top: 12px;
  position: relative;
}

.simulatorControl .tooltip {

  visibility: hidden;
  background-color: #56CCF2;
  color: #100E14;
  text-align: center;
  padding: 5px 0;
  border-radius: 10px;

  position: absolute;
  z-index: 1;

  width: 100px;
  bottom: 120%;
  left: 50%;
  margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */

}

.simulatorControl:hover {
  cursor: pointer;
  color: #56CCF2;
}

.simulatorControl:hover .tooltip {
  visibility: visible;
}

.optionDropdown {
  color: #fff;
  padding-top: 3px;
  position: relative;
}

.optionDropdown ul {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 36px;
  z-index: 1;
}

.optionDropdown ul li.active {
  background-color: #fff;
  color: #56CCF2;
}

.simulatorControl:hover ul {
  display: block;
  list-style: none;

}

.simulatorControl ul li {
  width: 80px;
  background-color: #56CCF2;
  color: #100E14;
  padding-top: 5px;
  padding-bottom: 5px;
}

.simulatorControl ul li:hover {
  color: #fff;
  background-color: #100E14;
}