.coreAccess .cell {
  font-size: 0.3em;
}

.cell {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.cell-default {
  display: inline-block;
  width: 100%;
  height: 100%;
  color:rgba(240,240,240, 1);
}

.cell-read {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: red;
}

.cell-write {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: red;
}

.cell-white {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #fff;
  transition: background-color 2000ms linear;
  transition: color 2000ms linear;
}

.cell-red {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: red;
  color: red;
  transition: background-color 2000ms linear;
  transition: color 2000ms linear;
}

.cell-green {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: green;
  color: green;
  transition: background-color 2000ms linear;
  transition: color 2000ms linear;
}