.coreLocation {
  border-top: 2px solid #56CCF2;
  text-align: center;
}

.coreLocation:first-child {
  border-top: none;
}

.coreLocation span {
  font-family: 'roboto condensed';
  color: #EB5757;
  display: inline-block;
  margin-top: 18%;

}

.coreLocation.current {
  background-color: #56CCF2;
}

.coreLocation.current span {
  color: #fff;
}