textarea {
  display: inline-block;
}

.core {
  width: 400px;
  height: 400px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  float: right;
}

.cell {
  display: inline-block;
  width: 49px;
  height: 34px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding-top: 15px;
  font-size: 0.8em;
}

button {
  border: 1px solid #ccc;
  margin-right: 1em;
  margin-bottom: 1em;
  padding: 1em;
  font-family: 'Roboto slab';
  min-width: 100px;
  background-color: #fff;
  color: #424a5d;
}

button:hover {
  cursor: pointer;
  border-color: #B5F44A;
}