#simulatorControlContainer {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

#core {

  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;


  padding: 10px;

  border: 2px solid #56CCF2;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}