.control {

  grid-column-start: -1;
  grid-column-end: -2;

  border: 2px solid #56CCF2;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  position: relative;
  font-size: 0.8em;
}

.control-button {

  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;

  color: #fff;
}

.control-button:hover {
  color: #56CCF2;
  cursor: pointer;
}

.control .fa {
  width: 100%;
  text-align: center;
  margin-top: 12px;
}

.control:hover .tooltip {
  visibility: visible;
}

.control .tooltip {

    visibility: hidden;
    background-color: #56CCF2;
    color: #100E14;
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;

    position: absolute;
    z-index: 1;

    width: 100px;
    bottom: 120%;
    left: 50%;
    margin-left: -50px; /* Use half of the width (120/2 = 60), to center the tooltip */

  }