.messagePanel {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;

  border: 2px solid #56CCF2;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 10px;
  position: relative;

  font-size: 0.8em;
}

.messagePanel ul {
  margin: 0.5em;
  padding: 0;
}

.messagePanel ul li {
  list-style: none;
  color: #6FCF97;
}

.messagePanel ul li.error {
  color: #EB5757;
}