#input {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;

  border: 2px solid #56CCF2;

  padding: 5px;

  min-height: 400px;
}

#input textarea {
  background-color: transparent;
  width: 98%;
  height: 98%;
  border: none;
  caret-color: #fff;
  color: #fff;
  resize: none;
}

#input textarea:focus {
  outline: none;
}


#input textarea::-webkit-scrollbar-track
{
	background-color: transparent;
}

#input textarea::-webkit-scrollbar
{
  width: 6px;
  background-color: transparent;
}

#input textarea::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #fff;
}