#parseContainer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50px 30px auto 80px;
}

.sectionSubTitle {
  color: #EB5757;
  font-family: 'roboto condensed';
  display: inline-block;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 7px;
}