#input {
  grid-column-start: 1;
  grid-column-end: 2;

  border: 2px solid #56CCF2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  padding: 5px;
}

#input textarea {
  background-color: transparent;
  width: 98%;
  height: 98%;
  border: none;
  caret-color: #fff;
  color: #fff;
  resize: none;
}

#input textarea:focus {
  outline: none;
}


#input textarea::-webkit-scrollbar-track
{
	background-color: transparent;
}

#input textarea::-webkit-scrollbar
{
  width: 6px;
  background-color: transparent;
}

#input textarea::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #fff;
}