.section-header {
  border: 2px solid #56CCF2;
  border-bottom: none;

  color: #EB5757;
  font-family: 'roboto condensed';
}

.section-header span {
  display: inline-block;
  padding-top: 4px;
  padding-left: 10px;
}

.input {

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;

  border-top-left-radius: 10px;
}

.output {

  border-left: none;
  border-right: none;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-column-end: 3;
}