.warriorList {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  border-bottom: 2px solid #56CCF2;

  font-size: 0.8em;
}

.warriorList .sectionTitle {
  color: #aaa;
  display: inline-block;
  margin-top: 5px;
  margin-left: 8px;
}

.warriorList ul {
  margin: 0.5em;
  padding: 0;
}

.warriorList ul li {
  list-style: none;
  display: inline-block;
  min-width: 100px;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em;
  margin-right: 10px;
  margin-bottom: 5px;
}

.warriorList ul li .fa {
  float: right;
  margin-right: 5px;
  margin-top: 2px;
  color: #EB5757;
}
