
header {
  width: 100%;
  height: 60px;
  background-color: #B5F44A;
  position: fixed;
  top: 0;
  padding: 0 15px;
  font-family: 'Roboto slab';
}

header > span.logo {
  display: inline-block;
  width: 215px;
  color: #fff;
  height: 60px;
}

.logo img {
  float: left;
  height: 60px;
  width: 60px;
}

nav > a {
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-weight: bold;
  width: 212px;
  padding-top: 20px;
  height: 40px;
  text-align: center;
  display: inline-block;
}

nav > a:hover {
  background-color: #fff;
  color: #424a5d;
  border-right: 3px solid #B5F44A;
}

.logo > h1 {
  display: inline-block;
  height: 100%;
  padding-top: 5px;
  margin: 0;
}

#sidebar {
  background-color: #424a5d;
  position: fixed;
  height: 100%;
  width: 215px;
  top: 60px;
}

#sidebar > nav {
  margin-top: 100px;
}

main {
  margin-top: 60px;
  margin-left: 215px;
  background: rgba(240,240,240,1);
  min-height: 600px;
  padding: 40px;
}


textarea {
  width: 500px;
  height: 200px;
  border: 1px solid #333;
  margin: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
