
header {
  width: 100%;
  height: 60px;
  background-color: #B5F44A;
  position: fixed;
  top: 0;
  padding: 0 15px;
}

.logo h1 {
  color: #fff;
}

h1 {
  font-family: 'Roboto slab';
  color: #79AEA3;
}

header > span.logo {
  display: inline-block;
  width: 215px;
  color: #fff;
  height: 60px;
}

.logo img {
  float: left;
  height: 60px;
  width: 60px;
}

nav > a {
  color: rgba(255,255,255,1);
  text-decoration: none;
  font-weight: bold;
  width: 162px;
  padding-top: 20px;
  height: 40px;
  padding-left: 50px;
  display: inline-block;
  font-family: 'Roboto slab';
}

nav > a:hover {
  background-color: #fff;
  color: #424a5d;
  border-right: 3px solid #B5F44A;
}

.logo > h1 {
  display: inline-block;
  height: 100%;
  padding-top: 5px;
  margin: 0;
}

#sidebar {
  background-color: #424a5d;
  position: fixed;
  height: 100%;
  width: 215px;
  top: 60px;
}

#sidebar > nav {
  margin-top: 80px;
}

main {
  margin-top: 60px;
  margin-left: 215px;
  background: rgba(240,240,240,1);
  min-height: 665px;
  padding: 40px;
  color: #424a5d;
  font-size: 16px;
}

main > p {
  font-size: 2em;
  line-height: 2em;
}

.home {
  background: url('../../img/home_icon.png') no-repeat 0 7px;
}

.parser {
  background: url('../../img/parser_icon.png') no-repeat 0 7px;
}

.simulator {
  background: url('../../img/simulator_icon.png') no-repeat 0 7px;
}


.home-active, .home:hover, .home-active:hover {
  color: #424a5d;
  border-right: 3px solid #B5F44A;
  background: url('../../img/home_icon_active.png') no-repeat 0 7px #fff;
}

.parser-active, .parser:hover, .parser-active:hover {
  color: #424a5d;
  border-right: 3px solid #B5F44A;
  background: url('../../img/parser_icon_active.png') no-repeat 0 7px #fff;
}

.simulator-active, .simulator:hover, .simulator-active:hover {
  color: #424a5d;
  border-right: 3px solid #B5F44A;
  background: url('../../img/simulator_icon_active.png') no-repeat 0 7px #fff;
}

