.grid-container {
  display: grid;
  grid-template-columns: 50px 100px auto 50px;
  grid-template-rows: 50px 100px auto 50px;
}

.grid-container main {

  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;

  display: grid;

}