#content {
  display: grid;
  grid-template-columns: auto 50px 50%;
  grid-template-rows: auto;
}

#parser {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

#simulator {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}