#content {

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;

  display: grid;
  grid-template-columns: 1fr 1fr 2.5fr;
  grid-template-rows: 50px 30px auto;
}

#parser {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

}

#simulator {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}