#content {

  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 5;

  display: grid;
  grid-template-columns: auto 520px;
  grid-template-rows: 50px 30px auto;
}

#parser {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

#simulator {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto;
}